.logo-navbar {
    text-transform: uppercase;
    color: #fff;
    font-weight: 900;
    font-size: 28px;
}

.text-white {
    color: #ffffff;
}

.link-more {
    font-size: 14px;
}

.link-more i {
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -3px;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transition: 0.7s;
    -webkit-transition: 0.7s;
}

.link-more:hover i {
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    transition: 0.7s;
    -webkit-transition: 0.7s;
}

.navbar-custom {
    background: #feda36;
    margin-top: 17px;
    margin-bottom: 20px;
    color: #ffffff;
    height: 70px;
}
.fp-box {
    margin-top: -10px;
}
.forget-password {
    font-size: 12px;
    padding-left: 2px;
}

.bg-main {
    background-color: #feda36;
    color: #fff;
}

.bg-main:hover {
    color: #d65ab5;
}

.logout-icon i {
    font-size: 24px;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.logout-icon:hover {
    background: transparent;
}

.logout-icon:hover i {
    color: #000;
}

.navbar-expand-lg .navbar-collapse {
    flex-basis: auto;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.sidenav.fixed-start + .main-content {
    margin-left: 21rem;
}

.sidenav-profile {
    margin: auto;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.sidenav-profile .image-profile {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 10px;
    position: relative;
}
.sidenav-profile .image-profile img {
    width: 150px;
    height: 150px;
    text-align: center;
    object-fit: cover;
}

.sidenav-profile .box-inside a {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 20px;
}

.sidenav-profile .box-inside a {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 20px;
}

.sidenav-profile .box-inside a:hover {
    color: #000;
}

.sidenav-profile .box-inside {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
    padding-top: 30px;
}

.sidenav-profile h4 {
    color: #fff;
    margin-bottom: 0px;
}

.navbar-vertical .navbar-nav > .nav-item .nav-link.active {
    background-color: #fee95a;
    padding: 15px 20px;
}

.breadcrumb {
    margin-bottom: 0px;
    padding-top: 10px;
}

.breadcrumb-item.active {
    color: #6c757d;
    font-weight: 700;
}

.icon-dash {
    display: inline-block;
    vertical-align: middle;
    font-size: 26px;
}

.nav-item span {
    font-size: 18px;
    font-weight: 500;
}

.card .card-header {
    background-color: #f7f7f7;
    padding-top: 40px;
}

.form-control {
    background: #fff;
    padding: 10px 10px 10px 15px;
    height: 43px;
    border: solid 1px #d3d3d3;
}
.btn-primary {
    background-color: #fde350;
    box-shadow: 0 14px 26px -12px #fde35066, 0 4px 23px 0 #fde35026,
        0 8px 10px -5px #fde35033;
}

.btn {
    margin: 0px;
}

.select2-container--bootstrap4
    .select2-selection--single
    .select2-selection__placeholder {
    line-height: calc(1.5em + 0.75rem);
    color: #495057;
    font-size: 14px;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.table tbody tr:last-child td {
    padding: 20px 24px;
}

.table thead > tr > th,
.table thead > tr > td,
.table tfoot > tr > th,
.table tfoot > tr > td {
    background-color: transparent;
}

.card {
    border-radius: 10px;
}

.card-header:first-child {
    border-radius: 10px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.table thead th {
    font-family: "Nunito", sans-serif;
    font-weight: 900;
    font-size: 18px;
}

.text-xs {
    font-size: 16px !important;
    font-weight: 700 !important;
    color: #fff !important;
}

.table tbody tr:last-child td {
    font-family: "Nunito", sans-serif;
}

.t-center {
    text-align: center;
}

.table td,
.table th {
    white-space: normal;
}

.table th,
.table td {
    padding: 20px 24px;
}

.table td {
    font-size: 16px;
}
.footer {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100%;
}

.valign-middle {
    vertical-align: middle;
}

.form-check {
    padding-left: 0em;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider-switch:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .slider-switch {
    background-color: #2196f3;
}

input:focus + .slider-switch {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider-switch:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded slider-switchs */
.slider-switch.round {
    border-radius: 34px;
}

.slider-switch.round:before {
    border-radius: 50%;
}

.copyright {
    display: none;
}

.status-review {
    color: chocolate;
}
.status-reject {
    color: red;
}
.status-publish {
    color: green;
}
.status-draft {
    color: #000;
}
